.container {
   max-width: 1450px;
   height: 100%;

   padding: 0 30px;
   margin: 0 auto;

   ._500({
      padding: 0 5px;
   });
}

body {
   padding-bottom: 700px;
}

* {
   position: relative;
   //font-family: 'Roboto Mono', monospace;
   font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   letter-spacing: 0.03em;

   .tran-fast;
}

picture img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.section-title {
   margin-bottom: 50px;
   font-size: 30px;

   color: @gray;
   text-align: center;
   text-transform: uppercase;
}

.section-bottom-margin {
   padding-top: 100px;
   margin-bottom: 50px;
}

.link {
   display: block;
   color: blue;
   text-decoration: underline solid blue;
}


.hide {
   opacity: 0;
   transform: translateY(100px);
}

.show {
   opacity: 1;
   transform: translateY(0);
}

.link {
   display: block;
   color: blue;
   text-decoration: underline solid blue;
}

.site-title {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;

   span {
      font-size: 22px;
   }

   &__img {
      width: 80px;
      height: 25px;
      margin-right: 15px;

      object-fit: contain;
      object-position: center;
   }
}

